.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: #333439;
    color: white;
}

.navbar__img {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.navbar__img__file {
    width: 30px;
    height: 30px;
}

.navbar__img__text {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.navbar__pages {
    display: flex;
    gap: 3rem;
}

a {
    text-decoration: none;
    text-transform: capitalize;

    font-size: 1.5rem;
    font-weight: bold;
}

.navbar__goto {
    display: flex;
    flex-direction: row;
}
.footer__navbar{
    padding: 1rem;
}