.navbar__fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
 
  background-color: #333439;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.navbar__fixed__img {
  display: flex;
  align-items: center; 
  gap: 0.5rem; 
}

.navbar__fixed__img__file {
  width: 30px; 
  height: 30px;
}

.navbar__fixed__img__text {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0; 
}
.navbar__fixed__pages{
  display: flex;
  gap: 3rem;
}
a{
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
 
}

