<nav class="navbar__fixed">
    <div class="navbar__fixed__img">
        <img src="./assets/images/ciberseguridad.png" alt="Logo ciberseguridad" class="navbar__fixed__img__file" width="30"
            height="30">
        <p class="navbar__fixed__img__text"><a href="index.html">Ciberjornadas</a></p>
    </div>
    <div class="navbar__fixed__pages">
        <a href="speakers.html" class="navbar__fixed__pages__item">speakers</a>
        <a href="blog.html" class="navbar__fixed__pages__item">blog</a>
        <a href="contact.html" class="navbar__fixed__pages__item">contact</a>
    </div>
</nav>